<h1>{{title}}</h1>
  <nav>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="/todo" routerLinkActive="active">Todo</a></li>
      <li><a routerLink="/request" routerLinkActive="active">Request</a></li>
      <li><a routerLink="/eventos" routerLinkActive="active">Eventos</a></li>
      <li><a routerLink="/formulario" routerLinkActive="active">Formulario</a></li>
      <li><a routerLink="/firebase" routerLinkActive="active">Firebase</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>

